.header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: white;
    &__logo {
        width: 10rem;
        transition: opacity 0.8s ease-in-out;
    }
    &__top {
        display: flex;
        border-bottom: 0.05rem solid #E9E9E9;
        padding-bottom: 1.44rem;
        padding-top: 1.61rem;
        align-items: center;
        justify-content: center;
    }
    &__top_right {
        display: flex;
        align-items: center;
        position: relative;
        width: 10rem;
    }
    &__search {
        background-image: url("../media/svg/Search.svg");
        box-sizing: border-box;
        background-size: cover;
        border: none;
        width: 0.89rem;
        height: 0.89rem;
        background-color: white;
        cursor: pointer;
        position: absolute;
        margin-left: 0.5rem;
        right: 0;
    }
    &__text-field {
        font-size: 0.75rem;
        color: #4b4b4b;
        border: none;
        border-bottom: 0.0625rem solid #7d7d7d;
        position: absolute;
        left: 0;
        width: 0;
        visibility: hidden;
        outline: none;
        transition: all 0.3s ease-in-out;
    }
    &__bottom {
        display: flex;
        border-bottom: 0.05rem solid #E9E9E9;
        justify-content: center;
        align-items: center;
        height: 3.20rem;
        width: 100%;
        font-weight: 500;
    }
    &__select{
        cursor: pointer;
        box-sizing: border-box;
        margin-right: 1.8rem;
    }
    &__select-body {
        width: max-content;
        opacity: 0;
        visibility: hidden; 
        height: 0;
        transition: all 0.3s ease-in-out;
    }
    &__link{
        display: flex;
        text-decoration: none;
        color: black;
        outline: none;
        align-items: center;
        transition: opacity 0.5s ease-in-out;
    }
    &__link:hover {
        opacity: 0.55;
    }
    &__select-header {
        display: flex;
        align-items: center;
    }
    &__select-icon {
        margin-left: 0.28rem;
    }
    &__select-icon-img {
        transform: translate(0,-25%);
    }
}

.main {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.875rem;
    &__card {
        width: 25%;
        margin: 0 5% 2rem 0;
    }
    &__card-img {
        width: 100%;
    }
    &__card-picture {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__card-type {
        font-weight: 700;
        color: #EB0028;
        font-size: 0.625rem;
        margin: 0.5rem 0 0.8rem 0;
    }
    &__card-topic {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.25rem;
        margin-bottom: 0.625rem;
    }
    &__card-description{
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 1.125rem;
        color: #929292;
    }
    &__card-user {
        font-size: 0.625rem;
        color: #9B9B9B;
        display: flex;
        margin-bottom: 0.625rem;
    }
    &__card-author {
        font-weight: 500;
        color: #000;
        margin-right: 0.3125rem;
    }
    &__card-date {
        display: flex;
        align-items: center;
    }
    &__card-date::before, .main__card-date::after  {
        content: "";
        background-color: #D7D7D7;
        width:  0.1875rem;
        height:  0.1875rem;
        border-radius: 50%;
        display: block;
        margin-right: 0.3125rem;
    }
    &__card-date::after {
        margin-left: 0.3125rem;
    }
}
